.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fafafa;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
}

.header .itens {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    gap: 36px;
}

.header .itens li a {
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.5s;
}

.header .itens li a:hover,
.header .itens li a:focus{
    /* text-decoration: underline; */
    text-decoration: #A90065;
    font-weight: 600;
}

.header .menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header label {
    display: flex;
    flex-direction: column;
}

.header .hamburguer{
    background-color: #666;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before,
.header .hamburguer:after {
    background-color: #666;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before {
    top: -10px;
}

.header .hamburguer:after {
    bottom: -10px;
}

.header input {
    display: none;
}

.header input:checked ~label .hamburguer {
    transform: rotate(45deg);
}

.header input:checked ~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

@media (max-width: 900px) {
    .header .menu{
        display: block;
    }

    .header .itens {
        display: none;
    }

    .header input:checked ~.itens {
        display: block;
    }

    .header {
        position: fixed;
        width: fit-content;
        top: 8px;
        right: 20px;
        z-index: 1;
        padding: 0;
        border-radius: 8px;
    }

    .header .itens {
        padding: 0 10px;
    }

    .header .itens a {
        text-align: center;
        padding: 10px;
        display: block;
    }
}