#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center; */
}

.inicio {
  /* width: 100vw; */
  /* width: 100vw; */
  background: url("./assets/flower1.png") top left no-repeat, url("./assets/flower2.png") bottom right no-repeat;
  background-size: 20vw;
  
  /* width: max-content; */
}

.convite {
  width: 80%;
  margin: 0 auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 20px;
  gap: 30px;
}

.convite .texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.convite .casal {
  border-radius: 10px;
  width: 80%;
  align-self: center;
}

.map-content {
  display: flex;
  flex-direction: row;
}

.map-content > div {
  width: 50%;
  height: 400px;
  flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.map-frame {
  height: 100%;
  width: 100%;
}

@media (max-width: 700px){

  .inicio {
    /* width: 100vw; */
    background: url("./assets/flower2.png") bottom right no-repeat;
    background-size: 50vw;
  }

  .convite .casal {
    width: 95%;
  }

  .map-content {
    display: flex;
    flex-direction: column;
  }

  .map-content > div {
    width: 100%;
    height: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}