.container {
    display: grid;
    grid-template-areas: "capa date";
    /* grid-template-columns: 1fr 0.5fr; */
    align-items: end;
    width: fit-content;
    margin: 0 auto;
}

.capa {
    grid-area: capa;
    max-height: 100vh;
}

.date {
    grid-area: date;
    padding-left: 30px;
    width: fit-content;
}

.date .line {
    height: 25vh;
    width: 2px;
    background-color: #A90065;
    margin: 20px 0px;
}

.date .save {
    font-size: 18px;
}

.date .nomes {
    font-size: 38px;
    font-weight: 500;
    line-height: normal;
}

.date .data {
    font-size: 25px;
    font-weight: 600;
    background-color: #A90065;
    color: #ffffff;
    letter-spacing: 3px;
    padding: 0 10px;
}

@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* max-width: 100vw; */
        margin: 0;
        padding: 0;
        /* width: fit-content; */
    }

    .container .date {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-self: start;
        /* margin-left: 30px; */
    }

    .container .capa {
        max-width: 100%;
    }

    /* .container .capa {
        max-width: 100vw;
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .container .date {
        max-width: 100vw;
        margin: 0;
        padding: 0;
        width: fit-content;
    } */

}