.contagem {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #A90065;
  color: #fff;
  padding: 3px;
  margin: 0;
  border-radius: 10px;
}

.contagem .counter-number {
  font-weight: 700;
  font-size: 40px;
}

.contagem .counter-text {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .contagem {
      width: 70px;
      height: 70px;
  }

  .contagem .counter-number {
    font-size: 24px;
  }

  .contagem .counter-text {
    font-size: 12px;
  }
}