#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center; */
}

.inicio {
  width: 100vw;
  /* width: 100vw; */
  background: url("./assets/flower1.png") top left no-repeat, url("./assets/flower2.png") bottom right no-repeat;
  background-size: 20vw;
  
  /* width: max-content; */
}

.convite {
  width: 80%;
  margin: 0 auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 20px;
  gap: 30px;
}

.convite .texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.convite .casal {
  border-radius: 10px;
  width: 80%;
  align-self: center;
}

@media (max-width: 500px){
  .inicio {
    /* width: 100vw; */
    background: url("./assets/flower2.png") bottom right no-repeat;
    background-size: 50vw;
  }

  .convite .casal {
    width: 95%;
  }
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
